In [2]:
import boto3
import pandas as pd
from io import StringIO

In [43]:
AWS_ACCESS_KEY = "AKIA3OZMQFNQTI2OSN64"
AWS_SECRET_KEY = "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"
REGION = "us-east-2"
SCHEMA_NAME = "covid-db"
S3_STAGING_DIR ="s3://covid-sk-output/output/"
S3_BUCKET_NAME = "covid-sk-output"
S3_OUTPUT_DIR = "output"

In [71]:
def uploadToS3(query,athena_client:boto3.client):
    metadata = athena_client.start_query_execution(
        QueryString = query,
        QueryExecutionContext = {'Database' : SCHEMA_NAME },
        ResultConfiguration = { 'OutputLocation': S3_STAGING_DIR})
    return metadata

def displayResult(athena_client:boto3.client,metadata):
    return athena_client.get_query_results(QueryExecutionId = metadata["QueryExecutionId"])

def downloadFromS3(s3_client:boto3.client,executionId):
    s3_client.download_file(S3_BUCKET_NAME,f'{S3_OUTPUT_DIR}/{executionId}.csv',temp_file)
    df = pd.read_csv(temp_file)
    return df

In [69]:
athena_client = boto3.client(
    "athena"
)
s3_client = boto3.client("s3")
temp_file = "output.csv"
query = "select * from state_abv limit 10"
metadata = uploadToS3(query,athena_client)

In [81]:
df = downloadFromS3(s3_client,metadata['QueryExecutionId'])
header = df.iloc[0]
df = df[1:]
df.columns = header
df

0                 State Abbreviation
1               Alabama           AL
2                Alaska           AK
3               Arizona           AZ
4              Arkansas           AR
5            California           CA
6              Colorado           CO
7           Connecticut           CT
8              Delaware           DE
9  District of Columbia           DC